* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color:lightgray;
}
header {
    padding: 20px 35px;
    background-color: gray
}
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #141d1d;
    margin:0;
    display:inline;
}

header a {
    text-decoration: none;
    color: #141d1d;
}
header nav {
   float: right;
   margin: 7px 0;  
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin:0 30px;
    font-weight: lighter;
    font-size: 22px;
    }